.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    outline: none;
    background-color: var(--primary-color-light);
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    transition: all .1s;
    font-size: var(--default-font-size);
    backface-visibility: hidden;
    transform-origin: center;
    min-width: 25rem;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color)
}

.btn:not(:disabled):hover {
    background-color: var(--accent-color);
    color: var(--primary-color-x-light);
}

.btn:not(:disabled):active {
    scale: .95;
}

.btn-small {
    width: fit-content;
    padding: 1rem 2rem;
    font-size: var(--medium-font-size);
}

.btn-large {
    padding: 1rem;
    font-size: var(--large-font-size);
}

.btn:disabled {
    cursor: not-allowed;
    color: var(--tertiary-font-color);
    background-color: #0001;
    /* color: var(--tertiary-font-color) */
}

.btn-disabled {
    cursor: not-allowed !important;
    color: var(--tertiary-font-color) !important;
    background-color: #0001 !important;

}