.search-box {
    display: flex;
    align-items: center;
    position: relative;
}

.input-search {
    width: 30rem;
    font-size: var(--medium-font-size);
    padding: 1.42rem 1rem 1.42rem 5rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color-x-light);
    background-color: #effbf7;
    color: var(--accent-color);
    transition: all .4s cubic-bezier(.61, -0.56, .39, 1.48);
}

.input-search:focus {
    width: 40rem;
    background-color: #def8f0;
}

.search-box>img {
    width: 2rem;
    position: absolute;
    left: 1.5rem;
}

.input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 2.4rem;
    width: 2.4rem;
    background-size: 2.4rem;
    background-image: url(../../../../public/close.png);
    cursor: pointer;
}

.input-search:focus {
    outline: none;
}